<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Imdb Element</title>
</head>
<body>
    <h2 style="text-align: center; margin-top: 20px;">Create a new IMDB Element</h2>
    <form action="/create" method="POST">
    <div class="form-row ml-4">
    <div class="form-group col-md-6">
      <label for="inputMovie">Movie Name </label>
      <input type="text" name="name" class="form-control" id="inputMovie">
    </div>
    </div>
    <div class="form-row ml-4">
    <div class="form-group col-md-6">
      <label for="inputGenere">Genere </label>
      <input type="text" name="gener" class="form-control" id="inputGenere">
    </div>
    </div>
    <div class="form-row ml-4">
    <div class="form-group col-md-6">
      <label for="inputYear">Year</label>
      <input type="text" name="year" class="form-control" id="inputYear">
    </div>
    </div>
    <div class="form-row ml-4">
    <div class="form-group col-md-6">
      <label for="covermovie">Movie Image Link</label>
      <input type="text" name="covermovie" class="form-control" id="cover">
    </div>
    </div>
    <h2 style="margin-left: 20px;">Actor Info</h2>
    <div class="form-row ml-4">
    <div class="form-group col-md-6">
      <label for="inputFname">First Name </label>
      <input type="text" name="fname" class="form-control" id="inputFname">
    </div>
    </div>
    <div class="form-row ml-4">
    <div class="form-group col-md-6">
      <label for="inputLname">Last Name </label>
      <input type="text" name="lname" class="form-control" id="inputLname">
    </div>
    </div>
        <div class="form-row ml-4">
    <div class="form-group col-md-6">
      <label for="origin">Origin </label>
      <input type="text" name="origin" class="form-control" id="origin">
    </div>
    </div>
    <div class="form-row ml-4">
    <div class="form-group col-md-6">
      <label for="cover">Actor Image Link</label>
      <input type="text" name="coveractor" class="form-control" id="cover">
    </div>
    </div>
    <button class="btn btn-primary ml-5" type="submit">Submit Post</button>
    
    </form>
    <br>
    <a href="/home" class="float-left" ><button class="btn btn-primary ml-5">Cancel</button></a>
</body>
</html>